.home .col-md-24 .btn-v2.pull-right:focus {
	color: #fff;
}
.page-template-Contact-us .flag_text p {
	font-family: Calibri;
}
.woocommerce .footer_top .col-md-2 {
	margin: 0;
}
.attribute-handle_style .bundle-tild-sect .handle_style, .attribute-knob_style .knob_style, .attribute-towelbar_style .glass-type, .attribute-handle-combo-towelbar_style .glass-type {
	display: inline-block;
	margin-bottom: 13px;
	float: none;
}/*
.attribute-handle_style .handle_style label,.attribute-knob_style .knob_style label,.attribute-towelbar_style .glass-type label,.attribute-towelbar_style .glass-type,.attribute-handle-combo-towelbar_style .glass-type label{
	padding: 4px 12px;
}*/
.attribute-handle_style .handle_style img {
	height: 207px;
}
.attribute-knob_style .knob_style img, .attribute-towelbar_style .glass-type img {
	height: 100px;
}
.attribute-handle-combo-towelbar_style .glass-type img {
	height: 80px;
}
.page-id-17 .fullSection {
	height: auto;
}
.page-id-17 .btn-sm {
	margin-bottom: 25px;
}

/*#main-header.active-style {
    margin-top: 45px;
}*/

@media only screen and (min-width:1000px) {
#header-main-menu .fa.fa-chevron-down {
	display: none;
}
}

@media only screen and (max-width:1500px) {
.home h1 {
	font-size: 30px !important;
	line-height: 35px !important;
}
.home-slider .slider-left-content ul li {
	font-size: 16px;
	line-height: 24px;
}
/*.attribute-handle_style .bundle-tild-sect li.handle_style.shonna{
		float: left;
		width: 32% !important;
	}*/
.attribute-glass_installation li.towelbar_side {
	width: 47%;
}
}

@media only screen and (max-width:1280px) {
.install_easy_wrapper {
	width: 100%;
}
}

@media only screen and (max-width:1200px) {
.flag_text p {
	font-size: 14px;
}
.home h1 {
	font-size: 15px !important;
	line-height: 24px !important;
	text-transform: uppercase;
}
.home-slider .slider-left-content ul li {
	font-size: 14px;
	line-height: 22px;
}
.build-showerdoor .handle_style .coName, .attribute-towelbar_style .glass-type .coName, .attribute-knob_style .knob_style .coName, .attribute-towelbar_style .glass-type, .attribute-handle-combo-towelbar_style .glass-type .coName {
	height: auto;
}
.woocommerce .install_easy_wrapper {
	width: 100%;
}
.install_easy_wrapper .install_sec {
	width: 46%;
}
.install_easy_wrapper #img_section {
	width: 49%;
}
.owl-wrapper .owl-item:last-child .item .slider-left-content a {
	display: none;
}
.woocommerce.single-product .col-sm-8 #selected_opt {
	width: auto;
}
}

@media only screen and (max-width:1196px) {
/*.shower_image.col-sm-12.col-md-5 > img{
    	width: 100%;
	}	*/
.main_header.inner-header-search-icon .header_right_content .col-md-col-9 {
	float: left;
}
#mwrap .page_cont .bannerImg img {
	left: 0 !important;
}
.page-template-service-layout .twoColbg h3 {
	line-height: 25px;
}
.list-group-item .title {
	font-size: 12px;
	letter-spacing: 0;
}
.attribute-glass_type li {
	float: left;
	width: 50%;
	padding: 5px 12px;
}
.attribute-glass_type li img {
	width: 100% !important;
}
.attribute-glass_hardwrfinish .bundle-tild-sect img {
	width: 100%;
	height: auto;
}
.knob_style li {
	padding-bottom: 12px;
}
.knob_style.shonna img, .attribute-handle_size .handle_size img {
	width: 100%;
}
.attribute-handle_size .bundle-tild-sect > li {
	display: inline-block;
}
.knob_style li {
	margin-bottom: 12px;
}
}

@media only screen and (max-width:1170px) {
.single-tild-sect .build-showerdoor h1 {
	width: 100%;
	position: static;
	padding-top: 30px;
}
.single-tild-sect .build-showerdoor .underline-tild-sect {
	margin-top: 0;
}
.attribute-glass_installation .show-attribute-combo ul li {
	float: none;
}
.show-attribute-combo .bundle-tild-sect {
	display: inline-block;
	text-align: center;
}
.page-template-Contact-us .c-map {
	width: 39%;
}
.c-text {
	width: 36%;
}
.home .col-md-24 {
	width: 100%;
	padding: 29px 0 22px;
	text-align: center;
}
.home .col-md-24 .pull-right {
	float: none !important;
}
#main-menu, .install_easy_wrapper .install_sec #state, .page-template-thank-you .twoColbg .col-sm-4, .page-template-thank-you .twoColbg .col-sm-8 {
	width: 100% !important;
}
.inner-header-search-icon #main-menu > li > a {
	font-size: 13px !important;
}
.inner-header-search-icon #main-menu > li.search-tild-sect > a {
	font-size: 0 !important;
}
.attribute-handle_size .bundle-tild-sect li.handle_size {
	width: 47% !important;
}
.build-showerdoor li.handle_size a {
	display: inline;
}
.attribute-glass_installation li {
	width: 50%;
}
.attribute-glass_installation .bundle-tild-sect .glass-type img {
	width: auto;
}
.attribute-glass_hardwrfinish ul li {
	width: 44%;
}
.page_header_inner .heading-left {
	margin-bottom: 0;
}
#dt-selector #cat-id-98 > strong {
	display: inline-block;
	width: 150px;
}
.towelbar_side ul li {
	width: 49%;
}
}

@media only screen and (max-width:480px) {
.hide {
	display: none;
}
}

@media only screen and (max-width:1024px) {
.hide {
	display: none;
}
.main_header.inner-header-search-icon .logo {
	margin: 26px 0 10px;
}
.b4as, .b4afterWrap {
	width: 100%;
}
.b4as a {
	width: auto;
}
.custom_right_tab_content .shower_image> img {
	max-width: 100%;
}
.home-slider .slider-left-content ul li {
	margin: 11px 0;
	line-height: 140%;
}
.home .doorWidget .c_col_8, .page-template-get-started .doorWidget .c_col_8 {
	width: 24.5%;
	margin-right: 0;
	padding: 0 4px;
}
.page-contractor-signup-form iframe {
	width: 100%;
}
.inner-header-search-icon #main-menu > li > a {
	padding: 7px 10px;
}
.home-slider .owl-controls {
	display:none;
}

.owl-theme.home-slider .owl-controls .owl-prev {
  display:none;
}
.owl-theme.home-slider .owl-controls .owl-next {
 display:none;
}

.home-slider .slider-left-content ul li {
	font-size: 14px !important;
}
.attribute-handle-combo-towelbar_size .bundle-tild-sect {
	text-align: center;
}
body .inner-header-search-icon .container { /*commented*/
	width: 90% !important;
}
.main_header.inner-header-search-icon .col-md-col-3 {
	margin: 0;
	padding: 0;
}
.safari #galslider1 .owl-buttons {
	top: 176px;
}
.cont_nav_inner > p {
	margin-top: -1px;
}
h2.seal {
	font-size: 28px;
}
.post {
	padding: 12px 23px;
}
.b4as span {
	right: 35px;
}
/*.page-template-gallery-page .owl-next{
		left: 824px; 
	}*/
#galslider1 .b4as span {
	display: none;
}

/* NEW GET STARTED PAGE*/
.gsseconds {background:#ffffff; width:100%}
 .gscenter {width:539px; margin:0px auto;}

.gsseconds h1 {line-height:45px !important;}
.gsseconds .row {margin-top:40px;}

.gsheaderbkg {
	background: url(/wp-content/uploads/2016/07/GSbackground.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 450px;

}
.gsheadertxt {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 67px;
	font-weight: 700;
	padding-top: 95px;
	line-height: 74px;
	color: #ffffff;
	width: 45%;
	margin: 0px auto;
	text-align: center
}
.gsheadertxt .highlight {
	color: #fbcc29;
}
.gscir {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	border: 1px solid #ffffff;
	font-size: 65px;
	margin: 10px auto;
	color: #ffffff;
	text-align: center
}
.gsfollowmonkey {position:relative; top:25px; }
.gsmonkey {position:absolute; left:-20px; top:-60px; z-index:999; }
.gsmonkey img{width:100px; height:auto;}
.gsfollowmonkeytext {background:#eae3da; border-radius:8px; padding:8px; color:#094241; font-size:30px; text-align:center; width:98%; margin:40px auto 20px;}
.gstealbox {padding:20px 5px 0px 5px; font-size:14px; background:#157c81; margin-bottom:25px; width:539px; height:220px;}
.gstealbox p {font-size:14px; line-height:20px; color:#ffffff; margin-bottom:15px;}
.gstealbox h2 {font-size:22px; line-height:28px; color:#ffffff; font-weight:700; font-family: "Open Sans", Arial, Helvetica, sans-serif; letter-spacing:-1px; margin-top:0px; }
.gstealbox .custom_orange_btn {font-size:16px; text-align:center; padding:15px;}
.gstealbox .btn-v4 {width:80% !important; }

}

@media only screen and (max-width:1000px) {
.main_header.inner-header-search-icon .header_right_content {
	display: block;
	margin-top: 28px;
}
.top_bar {
	display: block !important;
}
.main_header.inner-header-search-icon .header_right_content .col-md-col-9 {
	display: none;
}
.inner-header-search-icon .custom_menu {
	margin-top: 0;
}
.inner-header-search-icon #menu-toggle {
	display: block;
	margin-top: 0;
	right: 27px;
}
.home-slider .owl-controls {
	z-index: 1;
}
.inner-header-search-icon #main-menu > li {
	display: block;
	float: none;
}
.inner-header-search-icon #main-menu li:hover > ul.sub-menu {
	display: none;
}
.inner-header-search-icon ul.sub-menu {
	position: static;
	width: 100%;
}
.inner-header-search-icon #header-main-menu #main-menu {
	top: 49px;
	margin-top: 0;
}
#header #menu-toggle {
	top: 43px;
	right: 16px;
}
#main-menu > li > a {
	width: auto;
	display: inline-block !important;
	border-right: none !important;
}
#menu-toggle {
	bottom: 13px;
	left: 0;
	margin-top: 0;
	position: absolute;
	right: 0;
	top: auto;
}
#header #header-main-menu #main-menu {
	top: 103px;
	right: 14px;
}
#header .main_header .col-sm-9.col-md-9 {
	width: 70%;
	float: right;
}
.custom_menu #header-main-menu {
	position: relative;
}
#header-main-menu #main-menu {
	bottom: auto;
	float: none;
	left: auto;
	position: absolute;
	right: 0;
	top: 98px;
	width: 100%;
	z-index: 9999;
}
#menu-toggle li a {
	border-right: 1px solid rgba(255, 255, 255, 0.19);
	color: #fff;
	display: block;
	font-size: 13px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 8px 12px;
	text-transform: uppercase;
}
#menu-toggle li {
	background-color: #157c81;
	padding: 1px 0;
	list-style-type: none;
	width: 200px;
}
#header-main-menu .fa.fa-chevron-down {
	display: block;
	float: right;
	left: auto;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	width: 82%;
	text-align: right;
}
.bundle-tild-sect li {
	margin-bottom: 12px;
}
.gshide {display:none;}
.gstealbox {padding:20px 5px 0px 5px; font-size:14px; background:#157c81; text-align:center; margin-bottom:25px; width:539px; height:220px;}
}

@media only screen and (min-width:1026px) and (max-width:1366px) {
	
.salesliderheader {
	color:#ffffff; font-size:50px; line-height:55px; font-weight:bold; letter-space:-1px
}	

.saleslidersubtext {
	color: #f7921e;
	font-weight: bold;
	
	font-size: 40px;
	letter-spacing: -1px;
	line-height: 45px;
}
}


@media only screen and (max-width:1025px) {
.home-slider .slider-left-content {
	padding: 6px 27px;
	margin-top: 0;
}
.home-slider img {
	height: 320px;
	width: 100%;
}
.slider-left-content img {
	height: auto;
	width: 200px;
}
.salesliderheader {
	color:#ffffff; font-size:45px; line-height:50px; font-weight:bold; letter-space:-1px
}

.saleslidersubtext2 {color: #ffffff; font-weight: bold; font-size: 14px; padding-top:0px; line-height: 20px;}
.salessliderdisclaimer {font-size:11px; padding-top:3px; line-height:16px; color:#ffffff;}
.saleslidersubtext {
	color: #f7921e;
	font-weight: bold;
	padding-top: 0px;
	font-size: 28px;
	letter-spacing: -1px;
	line-height: 30px;
}


.home-slider .slider-left-content ul li {
	font-size: 15px !important;
	line-height: normal !important;
}
.home-slider .slider-left-content h1 {
	font-size: 25px !important;
	line-height: normal !important;
}
.home-slider .btn-v3 {
	display: block;
	margin-top: 0;
	padding: 8px 15px;
}
.home .owl-theme .owl-controls .owl-page {
	right: 0;
}
.home-slider .owl-controls {
	width: 100%;
	left: 0;
	right: 0;
}
#home-slider .owl-buttons .owl-next {
	margin-right: 0 !important;
	right: 0 !important;
}
}

@media only screen and (max-width:990px) {
	
	.salesliderheader {
	color:#ffffff; font-size:30px; line-height:35px; font-weight:bold; letter-space:-1px
}
	
	
.container.skehead-headernav, #header .container {
	width: 100% !important;
}
.main_header {
	padding-left: 0px;
}
/*.slider-left-content{
		display: none;
	}*/
	
	
.footer-widget-area.widget-area {
	padding-top: 12px;
	text-align: center;
}
.footer_bottom p {
	text-align: center;
}
.testimonials_form_container .left_shadow {
	padding-left: 15px;
}
.footer_top .footer-widget-area.widget-area.col-md-2, #mwrap #main, .fullSection div, #fbulk, .fclear2 {
	width: 100%;
}
.page-id-17 .fullSection.aw1 div {
	width: 100% !important;
	padding-top: 0 !important;
}
.inner-footer #main.container, #mwrapbg #main-header, #fwrap {
	width: 95%;
	margin: 0 auto;
}
.main50, .bundle-tild-sect .glass-type img, .towelbar_size.shonna img {
	width: 100%;
}
.tright img, .tleft img {
	float: none;
	padding-top: 12px;
}
#fboxes, #mwrap .page_cont .bannerImg img {
	height: auto;
}
.fbox {
	height: auto;
	margin: 30px 0;
	position: static;
	text-align: center;
	background-size: cover;
	width: 100%;
	border-radius: 10px;
}
.inner-header-custom button.single_add_to_cart_button {
	padding: 4px 21px !important;
	width: auto !important;
}
.fbox a {
	background: none;
	height: auto;
	padding: 24px 0;
}
.fbox img {
	display: inline;
	position: static;
	top: 0;
	border-radius: 10px;
}
.fbox span {
	position: static;
	padding-top: 9px;
	height: auto;
}
.fbox strong {
	display: block;
	position: static;
}
#fbulk.tesimonial_getintch #f-qt #fform {
	width: 100%;
	padding: 50px 15px 20px;
}
#fbulk #fform input, #header .main_header .logo img, .inner-header-custom .mains, #mwrapbg .page_cont iframe, .fclear22 {
	width: 100%;
}
#fbulk textarea, #oftxt2 #fform input {
	width: 100% !important;
}
#fbulk #fform h4 {
	padding-left: 7px;
}
.fullSection a.btn-sm {
	text-align: center;
	float: none;
}
.fullSection > p {
	text-align: center;
}
#header .main_header .col-sm-3.col-md-3 {
	width: 30%;
}
#header-main-menu #main-menu {
	top: 0px;
	margin-top: 0;
}
.inner-header-custom .flag_text p {
	font-size: 12px;
}
.inner-header-custom .mains .col-main {
	width: 60%;
}
.inner-header-custom #diy-home-img {
	float: none;
	text-align: center;
}
.inner-header-custom #diy-home-img img {
	left: 0;
}
.inner-header-custom #diy-home-text {
	float: none;
	width: 100% !important;
}
.inner-header-custom #diy-home-text p {
	width: 100%;
	left: 0;
}
.inner-header-custom #snav {
	width: 40%;
}
.tesimonial_getintch #f-qt {
	width: 44%;
}
.inner-header-custom #main {
	padding: 0;
}
.inner-header-custom #footer-bottom #main, .inner-header-custom .footer_top #main {
	padding: 1em 5%;
}
.blog .entry-title > a, .blog .entry-title, .single.single-post .entry-title > a, .single.single-post .entry-title {
	font-size: 25px;
	line-height: 30px;
}
.fullSection.tleft img, .fullSection.tright img {
	padding-right: 0px !important;
	right: 0;
	left: 0;
	top: 12px;
}
.page-template-service-layout .bannerImg {
	padding: 30px 50px 0;
}
#snav {
	padding-right: 40px;
}
.page-template-testimonials .main50 .testimonial {
	padding: 32px 30px;
}
#finishList {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	width: 32%;
}
#finishList a.screenshot {
	width: auto;
}
.custom_left_tab_menu {
	width: 26%;
}
.custom_right_tab_content {
	width: 74%;
}
.shower_image, .attribute-towelbar_size .bundle-tild-sect {
	text-align: center;
}
.page-template-get-started #main-header, .page-template-door-builder #main-header {
	height: auto;
	background: #17898f;
}
.page-template-get-started #main-header h2, .page-template-door-builder #main-header h2 {
	position: static;
	padding-left: 29px;
}
.page-template-get-started #buying-guide, .page-template-get-started #need-help, .page-template-door-builder #buying-guide, .page-template-door-builder #need-help {
	position: static;
	display: inline-block;
}
#glassGal {
	display: inline-block;
	width: 32%;
	text-align: center;
}
#glassGal ul {
	display: inline-block;
}
#glassGal li {
	padding: 0 0 30px 9px;
}
#glassGal img {
	height: auto !important;
	width: 100% !important;
}
.theImg, .theText, .woocommerce .doorbuilder .col-sm-8, .woocommerce .doorbuilder .col-sm-4 {
	float: none;
	width: 100%;
}
.woocommerce .doorbuilder .col-sm-4 {
	clear: both;
	margin-top: 0;
}
.page-template-Contact-us .main {
	width: 95%;
}
.woocommerce .build-showerdoor {
	margin-bottom: 40px;
}
.theImg p {
	text-align: center;
}
.theText p {
	left: 0;
	width: 100%;
}
.diy-header .details {
	margin: 0 auto;
}
.page-template-gallery-page #b4Note, .page-template-gallery-page #b4QJ {
	float: none;
}
.page-template-gallery-page #b4Note {
	padding: 0 0 30px 6px;
}
.dtStart p:nth-child(2) {
	position: static;
	background: #fff;
	margin-bottom: 12px;
	padding: 8px;
}
.page-template-design-tips #mwrap {
	background: #188d93;
}
.page-template-design-tips #main-header {
	background-color: #188d93;
	height: 126px;
	position: static;
}
.page-template-design-tips #main-header h2 {
	padding-left: 9px;
	padding-top: 22px;
	position: static;
	margin-top: 0;
}
.page-template-design-tips #dtpw {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
}
.page-template-design-tips #dtpager {
	background: none;
	padding-top: 31px;
	padding-left: 25px;
}
.page-template-design-tips #dtpw a span {
	top: 37px;
}
.page-template-design-tips #dtpw .prev, .page-template-design-tips #dtpw .next {
	width: 30px;
	top: 27px;
	height: 30px;
	position: absolute;
}
.page-template-design-tips #dtpw .prev {
	border-right: none;
	left: -10px;
}
.page-template-design-tips #dtpw .next {
	border-left: none;
	right: -7px;
}
.myarchive .breadcrumbs {
	float: none;
	margin-top: -6px;
}
.myarchive .page_header_inner {
	float: none;
}
.woocommerce .doorbuilder .col-md-3.margin-bottom-30 {
	display: inline-block;
	width: 49%;
}
.woocommerce .animated_glass .img {
	text-align: center;
}
.woocommerce .animated_glass .img > img {
	width: auto;
}
.single-tild-sect .pull-type img, .knob_style li img {
	width: 100%;
}
.attribute-glass_pulltype .bundle-tild-sect > li {
	width: 49%;
}
.knob_style li {
	padding: 0 6px;
}
.bundle-tild-sect .glass-type .post-title-sect.coName {
	height: auto;
}
.attribute-glass_installation .bundle-tild-sect li {
	display: inline-block;
	float: none;
}
.facilityPage .left {
	width: 100%;
	float: none;
	background: #fff;
}
.facilityPage .right {
	float: none;
	width: 100%;
	right: 0;
	margin-top: 28px;
}
.facilityPage .left iframe {
	width: 450px !important;
}
.facilityPage .left > p {
	padding-left: 28px;
	padding-right: 28px;
}
.facilityPage .left > p:first-child {
	padding-top: 50px;
}
.page-template-our-facility .facilityPage .ofgal .ofss {
	padding: 0 12px;
	width: 25%;
}
#ofss1, #ofss3 {
	margin-left: 0;
}
#fform select {
	width: 100%;
}
.attribute-handle_style .bundle-tild-sect .handle_style, .attribute-knob_style .knob_style, .attribute-towelbar_style .glass-type, .attribute-handle-combo-towelbar_style .glass-type {
	width: 48% !important;
}
.woocommerce .col-sm-4.form-right .total_vall .price_info_gls ul {
	margin-bottom: 50px;
}
.woocommerce #attribute-option-14 {
	padding: 0;
	margin-left: 2px;
}
#c-header h2 {
	font-size: 15px;
}
.page-template-Contact-us #c-header a {
	padding: 1px 11px 0;
	width: auto;
}
#c-header a.msg {
	right: 130px;
}
.mwrap .container {
	padding: 0;
}
.page-shower-door-frameless-steam-units .mwrap .container {
	padding-left: 15px;
	padding-right: 15px;
}
.page-template-Contact-us .pwin, .towelbar_size li {
	width: 100%;
}
.page-id-45 .twoColbg h3 {
	font-size: 16px !important;
}
.page-template-service-layout .page_cont > h3 {
	margin-top: 0;
	padding-left: 48px !important;
	padding-top: 0 !important;
}
.page-buying-guide .page_cont .bg-section .bgtxt {
	width: 100%;
}
.page-buying-guide .bg-section .bgtxt-img {
	text-align: center;
}
.page-buying-guide .page_cont .bg-section img {
	position: static;
}
.page-buying-guide .page_cont .bgright,  .page-buying-guide .page_cont .bgleft {
	width: 48%;
}
.page-buying-guide .bgd3 .bullet li {
	display: inline-block;
}
.page-buying-guide .bg-section.bgd3 {
	height: auto !important;
}
.page-buying-guide .page_cont #btn-dt {
	width: auto;
}
.page-buying-guide #btn-dt:hover {
	background: rgba(0, 0, 0, 0) url("../images/diy/btn-dt.png") no-repeat scroll center top;
}
.page-our-process .twoColbg {
	padding-top: 36px;
	min-height: auto;
	height: auto;
}
.page-our-process .mains .col-main {
	min-height: 100%;
	height: auto;
}
.page-customer-service .mains .col-main {
	padding: 40px 50px !important;
}
.contractor-page .col-md-12.page-content {
	clear: both;
}
.page-contractor-signup-form iframe {
	width: auto;
}
.page-contractor-signup-form #crmWebToEntityForm {
	padding-bottom: 30px;
}
.contractor-page #dt-selector li a {
	padding-top: 154px;
}
.contractor-page #dt-selector img {
	top: -213px;
}
.contractor-page #crmWebToEntityForm .col-md-4 .custom-int-grp {
	margin-top: 12px;
	text-align: center;
}
#contactPopup .col-md-4 .custom-int-grp {
	float: left;
	margin-top: 20px;
}
.col-main .page_cont {
	margin: 0 auto;
	padding: 20px 19px 0;
}
.page-template-get-started .mwrap .container {
	width: 100% !important;
}
.page-template-get-started #buying-guide {
	margin-left: 28px;
}
.woocommerce #attribute-option-1 .entry > div:last-child {
	height: auto !important;
}
.DYIcontent p img {
	margin-top: 20px;
}
#snav .sideCo img, #designTips .dtStart .shadBot, #mwrap .page_cont .bannerImg img, .c-map  img {
	max-width: 100%;
	width: auto;
}
.c-text .vid_tild-sect iframe {
	max-width: 100%;
}
.page-template-Contact-us #main .main {
	height: auto;
	min-height: 100%;
}
.cms-shower-doors-custom #oftxt2 #message {
	width: 100% !important;
}
.cms-shower-doors-custom .right {
	width: 54%;
}
.cms-shower-doors-custom .left {
	width: 41%;
}
#steam-unit-img img {
	padding-top: 28px;
}
.show-attribute-combo {
	margin: 37px 0;
}
}

@media only screen and (max-width:880px) {
.top_bar .col-sm-5.col-md-col-5, .top_bar .col-sm-7.col-md-col-7, .top_bar .col-sm-6.col-md-6 {
	float: none;
	width: 100% !important;
	text-align: center;
}
.top_bar .col-sm-6.col-md-6 {
	padding: 0 !important;
}
.top_bar img.navFlag, .inner-header-custom .top_bar img.navFlag {
	float: none;
	position: relative;
	top: 6px;
}
.inner-header-custom .flag_text p {
	position: static;
	left: 0;
	text-align: center;
}
.flag_text p, .inner-header-custom .flag_text p {
	width: auto;
	display: inline-block;
}
.top_bar .topnav, .inner-header-custom .top_bar .topnav {
	text-align: center;
	margin: 5px 0 12px;
}
.inner-header-search-icon #header-main-menu #main-menu {
	top: 17px;
}
.DYIcontent img {
	max-width: 100%;
	width: auto;
}
.page-template-Contact-us .c-map {
	text-align: center;
}
.page-template-Contact-us .c-map, .page-template-Contact-us .c-text, .cms-shower-doors-custom .right {
	width: 100%;
	float: none;
}
.cms-shower-doors-custom .left {
	float: none;
	margin: 0 auto 30px;
	width: 52%;
	left: 0;
}
.cms-shower-doors-custom .right {
	right: 0;
}
.cms-shower-doors-custom #oftxt2 #fform li {
	width: 100% !important;
}
}

@media only screen and (max-width:768px) {
#footer-bottom #main {
	padding: 0 20px;
}
#product-options-bottom {
	margin-bottom: 29px;
}
.main_header.inner-header-search-icon .col-md-col-3 {
	width: 35%;
}
.main_header.inner-header-search-icon .col-md-col-9 {
	width: 65%;
}
.inner-header-custom .mains .col-main, .inner-header-custom #snav {
	width: 100%;
	float: none;
}
.home .doorWidget .c_col_8, .page-template-get-started .doorWidget .c_col_8 {
	padding: 0 2px;
}
.animated_glass .door-title {
	font-size: 14px;
}
.measureImg {
	float: none;
	max-width: 100%;
	text-align: center;
	position: static;
}
.inner-header-custom #snav {
	padding: 0 25px !important;
}
#snav .sideCo, .sideCo p {
	text-align: center;
	padding-left: 0;
}
.home .owl-theme .owl-controls .owl-page {
	top: 48px;
}
.sideCo p {
	padding-bottom: 24px;
}
#fbulk #f-qt, #fbulk #f-tstm {
	width: 100%;
	float: none;
}
#fbulk #f-tstm {
	padding: 48px 25px 0 36px;
}
#fbulk.tesimonial_getintch #f-qt #fform {
	padding: 50px 35px 20px;
}
#fbulk.tesimonial_getintch .checkbox label, .facilityPage .right .ofshadow {
	width: 100%;
}
#fwrap {
	padding: 20px 12px 36px;
}
#mwrap .page_cont .bannerImg img {
	top: 0 !important;
	height: auto;
	padding-bottom: 30px;
}
.fullwidth, .measureImg img {
	width: auto;
	max-width: 100%;
}
.col-main ul.bullet li {
	padding-bottom: 12px;
	line-height: 21px;
}
.custom_left_tab_menu {
	float: none;
	margin: 0 auto;
	width: 35%;
}
.custom_right_tab_content {
	float: none;
	text-align: center;
	width: 100%;
}
.custom_right_tab_content .custom_renderContainer.col-sm-5.col-md-3 > img {
	width: auto;
	max-width: 100%;
}
.custom_right_tab_content .fullwidth {
	display: block;
	margin: 0 auto;
	width: 78%;
	margin-bottom: 20px;
}
.tab-content .shower_image {
	margin-top: 41px;
}
.get_started .shower_image.col-sm-12.col-md-5 {
	padding-left: 0;
}
.custom_render.Container.col-sm-5 {
	padding-left: 0;
}
.custom_right_tab_content h2, #galslider1 .b4as, .page-id-69 .page_cont {
	text-align: center;
}
.custom_right_tab_content .shower_image > img {
	width: auto !important;
}
.page-id-69 .vidgal {
	display: inline-block;
}
#galslider1 .b4as a {
	float: none;
}
.page-template-before-after #galslider1 .b4as a {
	display: inline-block;
}
#galslider1.b4afterWrap {
	padding-left: 0 !important;
}
.page-template-gallery-page #b4QJ {
	padding-bottom: 44px;
}
.page-template-gallery-page .b4afterWrap h2 {
	margin: 13px 0 25px;
}
#galslider1 .b4as {
	margin-top: 32px;
}
#finishList {
	width: 49%;
}
#glassGal {
	width: 49% !important;
}
#glassGal li {
	padding: 0 5px 30px;
}
#galslider1 .owl-next {
	left: 681px;
}
#galslider1 .owl-prev {
	left: -56px;
}
.woocommerce .build-showerdoor h1 {
	position: static;
	padding-top: 30px;
}
.woocommerce .build-showerdoor .underline-tild-sect {
	padding: 22px 0 0 !important;
	margin-top: 0 !important;
}
.woocommerce .build-showerdoor .product-descipt .row,  .woocommerce .build-showerdoor .product-descipt h4 {
	text-align: center;
}
.woocommerce .build-showerdoor,  .woocommerce .build-showerdoor .product-descipt label.measurements,  .woocommerce .build-showerdoor .product-descipt a {
	float: none;
}
.woocommerce .single-tild-sect .col-sm-4 {
	clear: both;
}
.woocommerce .build-showerdoor .product-descipt input, .woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
	width: auto;
}
.woocommerce .build-showerdoor .entry > div:last-child {
	height: auto !important;
	margin-top: 21px;
	padding-left: 0 !important;
}
.woocommerce .build-showerdoor .col-md-12.glass-thckness-dfi > ul {
	text-align: center;
	display: inline-block;
}
.woocommerce .build-showerdoor ul#glass-thckness-dfi li {
	display: block;
	float: none;
	width: auto;
	line-height: 19px;
}
.glass-thckness-dfi #weight {
	padding-bottom: 30px;
}
.single-tild-sect .alert-danger {
	margin-top: 44px;
}
.row.setup-content_step {
	padding-left: 26px;
}
.single-tild-sect #starburst > h1 {
	margin-top: 0;
}
.bundle-tild-sect {
	margin-bottom: 34px;
}
.page-template-Contact-us p, .page-template-Contact-us .c-map {
	line-height: 22px;
}
.facilityPage .ofgal .ofss ul {
	height: 86px;
}
.page-buying-guide .bg-section span.bullet {
	float: none;
	width: auto;
}
.page-buying-guide .page_cont .bgright,  .page-buying-guide .page_cont .bgleft {
	float: none;
	width: 100%;
}
#btm-green #dt-selector {
	padding-bottom: 30px !important;
}
.contractor-page #dt-selector li {
	display: block;
	float: none;
	height: auto;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	padding: 0;
}
.contractor-page #dt-selector li a {
	color: #6ebec2;
	display: block;
	float: none;
	height: auto;
	padding-top: 0;
	position: relative;
	width: 100% !important;
}
#dt-selector a strong {
	bottom: 0;
	display: block;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	text-align: center;
}
.contractor-page #cat-id-102 strong, .contractor-page #cat-id-98 > strong {
	display: inline-block;
	width: auto;
}
.contractor-page #dt-selector img {
	height: 200px !important;
	top: 0;
	width: auto !important;
}
.page-installation-guide .page_cont > h2 {
	text-align: center;
}
.theImg {
	left: 0;
}
.page-template-service-layout .page_cont p, .page-template-service-layout .page_cont h4, .page-template-service-layout .page_cont ul, .page-template-service-layout .page_cont h5, .page-template-service-layout .page_cont h3 {
	padding: 0 !important;
}
.page-template-service-layout .bannerImg {
	padding: 19px 0 0;
	text-align: center;
}
.page-template-service-layout .mains .col-main {
	padding-bottom: 30px !important;
	min-height: 100%;
	height: auto;
}
.page-template-page-with-sidebar .mains .col-main {
	min-height: 100%;
	height: auto;
}
.towelbar_side ul li {
	width: 40%;
	margin: 29px auto;
}
#snav > div#snav {
	padding: 0 !important;
}
.woocommerce .wc-proceed-to-checkout a.button.alt {
	display: inline-block !important;
	padding: 11px 15px !important;
}
.woocommerce .shop_table td.actions .button {
	display: block;
	float: none;
}
.post-type-archive-product .inner-header-custom #item-list {
	padding: 36px 19px 30px;
}
.archive .page-title.category-title h2.steps-header {
	padding-left: 41px;
}
.archive.tax-product_cat #mwrapbg #main-header {
	width: 100%;
}
}

@media only screen and (max-width:767px) {
.slider-left-content {
	display: none;
}
/*.home-slider .slider-left-content {
	    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	    color: #fff;
	    font-size: 18px;
	    font-weight: 100;
	    height: 100%;
	    left: 0;
	    line-height: normal;
	    margin-top: 0;
	    padding: 6px 27px;
	    position: relative;
	    top: 0;
	    width: 100%;
	}*/
}

@media only screen and (max-width:668px) {
#header .main_header .col-sm-3.col-md-3 {
	width: 38%;
	padding-left: 0;
}
#snav > div#snav {
	padding: 0 !important;
}
#header .main_header .col-sm-9.col-md-9 {
	width: 62%;
}
.sfsi_plus_Sicons {
	text-align: left;
}
.inner-header-search-icon #header-main-menu #main-menu {
	top: 56px;
}
.sfsi_plus_Sicons li:first-child {
	display: block;
	padding-bottom: 12px;
}
.twoColbg h2, .twoColbg h3 {
	font-size: 23px;
	line-height: 26px;
}
.why-fsd .section h2 {
	font-size: 20px;
}
.page-id-71 .mains .twoColbg, .page-id-73 .mains .twoColbg {
	overflow: visible;
}
.custom_left_tab_menu {
	width: 56%;
}
.breadcrumbs {
	height: auto;
}
.breadcrumbs p {
	line-height: 15px;
}
.breadcrumbs ul {
	margin-left: 0;
	padding-top: 1px;
	display: inline-block;
}
#mwrap {
	background: #17898f;
}
#main-header {
	height: auto;
	background: none;
}
.page-template-contractor #main-header, .page-template-hardware-finishes #main-header, .page-template-thank-you #main-header {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #1ca1a5 0%, #19959b 50%, #168389 100%) repeat scroll 0 0
}
#main-header h2 {
	position: static;
	padding-left: 29px;
	margin-top: 0px;
	padding-top: 11px;
}
.page-template-our-facility #main-header {
	height: 110px;
}
.page-template-our-facility #main-header h2 {
	padding-top: 18px;
}
#buying-guide, #need-help {
	position: static;
	display: inline-block;
}
#buying-guide {
	margin-left: 29px;
}
ul#weight li {
	display: block;
	line-height: 20px;
	margin-bottom: 12px;
}
.page-template-Contact-us #locddc {
	top: 0;
}
#c-header {
	padding-left: 13px;
}
#c-header h2 {
	font-size: 18px;
}
#c-header a.msg, #c-header a.dir {
	display: inline-block;
	position: static;
	margin-top: 16px;
}
.showroomNotice {
	padding: 0 20px 36px;
}
.page-template-Contact-us .c-map {
	padding-right: 24px;
	width: 100%;
}
.page-template-Contact-us .c-text {
	padding: 19px 12px 0 22px;
	width: 100%;
	float: none;
	clear: both;
}
.facilityPage .ofgal .ofss ul {
	height: 56px;
}
.container.myarchive {
	padding: 0;
}
.page-template-door-builder #main-header {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #1ca1a5 0%, #19959b 50%, #168389 100%) repeat scroll 0 0;
}
.main50 .page_cont {
	margin: 0 auto;
	padding: 0;
}
#galslider1 .owl-next {
	left: 553px;
}
.attribute-glass_sqft.build-showerdoor, .single-tild-sect .build-showerdoor h1, .build-showerdoor .product-imgsqft img, .attribute-glass_hardwrfinish .bundle-tild-sect {
	text-align: center;
}
.product-descipt form, .product-descipt #measuremnet-val {
	display: inline-block;
}
.product-descipt p {
	padding-left: 0;
}
#attribute-option-12 ul li.glass-type {
	display: block;
	margin-bottom: 12px;
	width: 79% !important;
}
.attribute-glass_hardwrfinish ul li, .knob_style li, .attribute-glass_installation .bundle-tild-sect li, .towelbar_side ul li {
	width: 100%;
}
.DYIcontent .col-sm-12.col-md-4 {
	text-align: center;
}
#frameless-section .pull-left {
	float: none !important;
	margin-right: 0;
}
#thankyou-info img, .BodyCopy > img {
	max-width: 100%;
	width: auto;
}
.page-template-hardware-finishes .container.atribut-preety-effect {
	padding-top: 28px;
}
.post {
	padding: 12px 0;
}
.cont_nav_inner > p {
	margin-top: 1px;
}
.archive.tax-product_cat #mwrap #main-header {
	height: 75px;
	background: rgba(0, 0, 0, 0) url("../images/int-shadow.png") no-repeat scroll center top;
}
.archive.tax-product_cat #mwrap #main-header h2 {
 padding-top:
}
.archive.tax-product_cat #mwrap #main-header h2, .archive.tax-product_cat #mwrap #buying-guide, .archive.tax-product_cat #mwrap #need-help {
	position: absolute;
}
}

@media only screen and (max-width:570px) {
.doorWidget.animated_glass .c_col_8 {
	margin-right: 0;
	width: 100%;
}
body #wpadminbar {
	position: fixed;
}
.doorWidget.animated_glass .img > img {
	width: auto;
	max-width: 100%;
}
#galslider1 .owl-next {
	left: 453px;
}
.b4afterWrap h2, .b4afterWrap .shop-now {
	position: static;
}
.b4afterWrap .shop-now {
	display: inline-block;
}
#designTips .dt-header h2, h1 {
	font-size: 25px !important;
	top: 12px;
}
#designTips .dt-header .btn-sm.blank {
	padding: 4px 8px;
	width: auto;
}
.woocommerce .build-showerdoor h1 {
	padding-top: 9px;
}
.page-template-design-tips #main-header {
	height: 145px;
}
.page-template-design-tips #dtpw a span {
	top: 24px;
}
.fullSection h2 {
	font-size: 20px;
}
.woocommerce .doorbuilder .col-md-3.margin-bottom-30, #finishList {
	width: 100%;
}
.attribute-glass_type l {
	float: none;
	padding: 5px 0;
	width: 100%;
}
.attribute-glass_pulltype .bundle-tild-sect > li, .attribute-handle_size .bundle-tild-sect > li {
	width: 100% !important;
}
.build-showerdoor ul li {
	padding-top: 12px;
	padding-bottom: 12px;
}
#get_modal {
	width: 65%;
	padding: 10px 4px 3px;
}
#get_modal .col-md-12 > h2 {
	font-size: 15px;
}
.option-text {
	font-size: 13px;
}
#stay_clean_glass center span {
	font-size: 18px;
	width: auto;
	margin: 5px 0;
}
.setup-content_step .talk_me {
	width: 100%;
	white-space: normal;
}
.facilityPage .left iframe, .attribute-handle_size .bundle-tild-sect li.handle_size {
	width: 100% !important;
}
.ofss li {
	height: 100%;
}
.page-template-our-facility .facilityPage .ofgal .ofss {
	margin-bottom: 0;
}
.woocommerce .install_easy_wrapper .install_sec, .woocommerce .install_easy_wrapper #img_section, .attribute-glass_type li {
	float: none;
	margin-top: 0;
	width: 100%;
	text-align: center;
}
.woocommerce .install_easy_wrapper .fl2 {
	display: none;
}
.woocommerce .install_easy_wrapper .fl {
	float: none;
	margin-top: 30px;
}
#b4QJ li {
	float: none;
	border-left: none;
	line-height: 22px;
}
#b4QJ li a {
	float: none;
}
.contractor-page iframe {
	padding: 0 12px;
	width: 100%;
}
.page-buying-guide .bg-section .bgtxt {
	height: auto;
}
#btm-green #dt-selector {
	padding: 0 0 30px !important;
}
#galslider1 .owl-next {
	left: 484px;
}
.page-template-gallery-page .b4afterWrap h2 {
	margin-left: 0;
}
#galslider1.b4afterWrap {
	padding-top: 26px !important;
	text-align: center;
}
#attribute-option-8 .bundle-tild-sect, .bundle-tild-sect, .doorWidget.animated_glass .img, #item-list ul.even, .page_cont.category-products .products-grid {
	text-align: center;
}
.archive .page-title.category-title h2.steps-header {
	padding-left: 0;
	text-align: center;
}
.page-template-Contact-us .rightalign, .page-template-Contact-us .divide-section .leftalign {
	float: none;
	width: 100%;
}
#item-list li, .item.first.last.odd {
	display: inline-block;
	float: none;
}
.leftalign.info_tild-sect > div:last-child {
	display: inline-block !important;
	width: auto !important;
}
.page-template-Contact-us .rightalign.vid_tild-sect {
	padding-top: 38px;
}
.bgtxt-img img, .cms-shower-doors-custom .item img {
	max-width: 100%;
	width: auto;
}
.cms-shower-doors-custom .right .ofshadow {
	width: 100%;
	background-size: cover;
}
.woocommerce-cart .woocommerce .cart_item .product-name > a.custom-product-cart {
	margin-bottom: 12px;
}

/* NEW GET STARTED PAGE*/
.gsseconds {background:#ffffff; width:100%}
 .gscenter {width:300px; margin:0px auto;}
 
  .gscenter img {width:280px; height:auto;}

.gsseconds h1 {line-height:45px !important;}
.gsseconds .row {margin-top:40px;}

.gsheaderbkg {
	background: url(/wp-content/uploads/2016/07/GSbackground.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 450px;

}
.gsheadertxt {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: 700;
	padding-top: 85px;
	line-height: 45px;
	color: #ffffff;
	width: 45%;
	margin: 0px auto;
	text-align: center
}
.gsheadertxt .highlight {
	color: #fbcc29;
}
.gscir {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	border: 1px solid #ffffff;
	font-size: 65px;
	margin: 10px auto;
	color: #ffffff;
	text-align: center
}
.gsfollowmonkey {position:relative; top:25px; }
.gsmonkey {position:absolute; left:-20px; top:-60px; z-index:999; }
.gsmonkey img{width:100px; height:auto;}
.gsfollowmonkeytext {background:#eae3da; border-radius:8px; padding:8px; color:#094241; font-size:30px; text-align:center; width:98%; margin:40px auto 20px;}
.gstealbox {padding:20px 5px 0px 5px; font-size:14px; background:#157c81; margin-bottom:25px; width:280px; height:290px;}
.gstealbox p {font-size:14px; line-height:20px; color:#ffffff; margin-bottom:15px;}
.gstealbox h2 {font-size:22px; line-height:28px; color:#ffffff; font-weight:700; font-family: "Open Sans", Arial, Helvetica, sans-serif; letter-spacing:-1px; margin-top:0px; }
.gstealbox .custom_orange_btn {font-size:14px; text-align:center; padding:15px; white-space:normal;}
.gstealbox .btn-v4 {width:80% !important; }
}

@media only screen and (max-width:480px) {
body p, .why-fsd .section p, #footer-bottom p {
	font-size: 14px;
	line-height: 20px;
}
#main-header h2, .twoColbg h2, .twoColbg h3, #starburst > h2 {
	font-size: 20px;
}
.faq-a {
	height: 86px;
}
.three-boxes a, #attribute-option-12 ul li.glass-type, #attribute-option-12 ul li a {
	height: auto;
}
.three-boxes h4 {
	margin-top: 193px;
}
#header #header-main-menu #main-menu {
	width: 419px !important;
	top: 94px;
}
#header #menu-toggle {
	top: 34px;
}
.home_left_services p {
	line-height: 151%;
}
.home_left_services img {
	width: auto !important;
	max-width: 100%;
}
#main-header h2 {
	padding: 18px 0 12px 29px;
}
.inner-header-custom .main_header.inner-header-search-icon .col-md-col-3 {
	float: none;
	margin: 0 auto;
	width: 50%;
}
.inner-header-custom .main_header.inner-header-search-icon .col-md-col-9, .towelbar_size img, .install_easy img {
	width: 100%;
}
.inner-header-custom .social_icons, .inner-header-custom .topnav {
	text-align: center;
}
.inner-header-custom .header_right_content .col-md-col-9, #attribute-option-13d.attribute-handle-combo-towelbar_style ul li {
	width: 100% !important;
}
.inner-header-custom .top_bar .col-md-col-6, .towelbar_size li, .towelbar_size label, .show-attribute-combo .bundle-tild-sect label {
	width: 100%;
}
.blog .entry-title > a, .blog .entry-title, .single.single-post .entry-title > a, .single.single-post .entry-title h2, .custom_right_tab_content h2 {
	font-size: 18px;
	line-height: 25px;
}
.blog-excerpt .entry-content img {
	width: 100%;
}
#fbulk.tesimonial_getintch #f-qt #fform {
	padding: 50px 15px 20px;
}
#fbulk #f-tstm {
	padding: 48px 15px 0 21px;
}
#fwrap {
	padding: 20px 18px 36px;
}
#fbulk #f-tstm p {
	padding-right: 15px;
}
#diy-home-img > img {
	height: 310px;
}
.mains h2.seal {
	font-size: 19px;
}
.custom_right_tab_content .fullwidth {
	width: auto;
}
.custom_left_tab_menu {
	padding: 0 40px;
	width: auto;
}
#glassGal, .attribute-handle_style .bundle-tild-sect .handle_style, .attribute-knob_style .knob_style, .attribute-towelbar_style .glass-type, .attribute-handle-combo-towelbar_style .glass-type {
	width: 100% !important;
}
#glassGal li {
	padding: 0 20px 32px;
}
#galslider1 .owl-next {
	left: 393px;
}
#stepNavigation {
	height: auto;
}
#stepNavigation #thePrice {
	padding: 0 0 12px;
	margin-top: 0;
}
#stepNavigation .container, #stepNavigation .col-md-12 {
	padding: 0;
}
.single-tild-sect .placeholder {
	font-size: 20px
}
#stepNavigation .stepNav {
	width: 49%;
	margin: 0;
}
.woocommerce .build-showerdoor h1 {
	font-size: 20px !important;
	letter-spacing: 0;
}
.attribute-glass_hardwrfinish ul li.glass-type label, .attribute-glass_hardwrfinish ul li.glass-type a {
	display: block;
}
.show-attribute-combo .bundle-tild-sect img {
	height: auto !important;
	width: 100%;
}
.page-template-our-facility .facilityPage .ofgal .ofss {
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}
#ofss1, #ofss3 {
	margin-left: 0;
}
.facilityPage .ofgal h5 {
	position: static;
	text-align: center;
}
.facilityPage .ofgal .btn-sm {
	position: static;
	margin-bottom: 26px;
}
.inner-header-search-icon #menu-toggle {
	bottom: 19px;
	right: 15px;
}
.inner-header-custom .social_icons {
	padding: 0 0 0 17px;
	text-align: left;
}
.inner-header-search-icon #header-main-menu #main-menu {
	top: 0;
}
.facilityPage .ofgal .ofss ul {
	height: 106px;
}
.page-template-our-facility .fancybox-overlay {
	top: 0;
}
.facilityPage .ofgal h5 {
	margin: 20px 0;
}
.facilityPage .ofgal {
	padding-top: 0;
}
#main-header #buying-guide, #main-header #need-help, .woocommerce .page_header_inner .two-btn, .page-template-door-builder #main-header div {
	display: none !important;
}
.page-template-our-facility #main-header div#locddc {
	display: block;
	margin-bottom: 12px;
	margin-left: 26px;
	position: static;
}
.page-template-design-tips #main-header div {
	display: block !important;
}
.page-template-about-DFI iframe {
	height: auto !important;
}
#contactPopup {
	width: 86%;
	background-position: 50% 50%;
}
#contactPopup form {
	width: 77% !important;
}
#contactPopup .row {
	width: 100%;
	margin: 0 0 12px;
}
#contactPopup input, #contactPopup select {
	width: 100%;
}
#contactPopup .close {
	right: 33px;
}
.page-buying-guide #btn-dt {
	background: rgba(0, 0, 0, 0) url("../images/diy/btn-dt.png") no-repeat scroll center center;
	height: 100px;
}
.page-buying-guide #btn-dt:hover {
	background: rgba(0, 0, 0, 0) url("../images/diy/btn-dt.png") no-repeat scroll center center;
}
.page-buying-guide .bg-header {
	background: rgba(0, 0, 0, 0) url("../images/diy/bg-header.png") repeat-x scroll left top padding-box;
	border-radius: 7px 7px 0 0;
	clear: both;
	float: left;
	font-family: "pxbold";
	font-size: 18px;
	height: auto;
	padding: 8px 0 8px 14px;
	position: relative;
	width: 100%;
}
.page-buying-guide .bg-header > h2 {
	display: inline-block;
	float: left;
	font-family: "pxbold";
	font-size: 18px;
	margin: 0 12px 0 0;
	width: 64%;
}
.page-buying-guide .bg-header .btn-Bguide {
	display: inline-block;
	float: right;
	font-family: "pxreg";
	font-size: 14px;
	height: auto;
	margin: 2px 0;
	padding: 0;
	position: relative;
	width: 30%;
	padding: 0 20px 0 0;
	text-align: right;
}
.page-buying-guide .page_cont {
	padding: 0 0 11px 12px;
	width: 95% !important;
}
.page-buying-guide .main50 {
	padding: 50px 15px;
}
.page-buying-guide .page_cont .bg-section .bgtxt {
	height: auto;
	width: 100%;
}
.page-buying-guide .bg-section {
	overflow: visible;
	padding: 90px 25px 0;
	position: static;
}
.fullSection.tleft img, .fullSection.tright img {
	height: auto !important;
	width: auto !important;
}
.topnav .links li.last, .inner-header-custom .topnav .links li.last {
	display: inline-block;
	margin-top: 0;
}
.flag_text p {
	font-size: 12px;
}
#header-main-menu .fa.fa-chevron-down {
	width: 51%;
}
.three-boxes a div {
	height: auto !important;
}
#discount-til-sect tbody tr td {
	width: auto !important;
}
.show-attribute-combo .bundle-tild-sect {
	display: block;
}
.single-tild-sect .fr-well {
	padding: 25px 0;
}




}

@media only screen and (max-width:375px) {
.three-boxes h4 {
	margin-top: 120px;
}
#galslider1 .owl-next {
	left: 308px;
}
#galslider1 .owl-prev {
	left: -66px;
}
#header .main_header .col-sm-3.col-md-3 {
	width: 52%;
}
#header .main_header .col-sm-9.col-md-9 {
	width: 48%;
}
#header #header-main-menu #main-menu {
	width: 307px !important;
}
.custom_right_tab_content .shower_image > img {
	width: 68%;
}
#single-shower-door .shower_image.col-sm-12.col-md-5 > img {
	width: 100%;
}
.inner-header-custom #diy-home-text p {
	left: 0;
	width: 100%;
}
.sfsi_plus_Sicons ul li {
	margin: 0 4px 9px;
}
#mwrapbg .breadcrumbs > ul {
	width: 97%;
	margin-left: 0;
}
.fbox span {
	padding: 9px 7px;
}
.fbox strong {
	font-size: 18px;
}
.main50 {
	padding: 50px 30px;
}
.mains .col-main {
	padding: 40px 29px;
}
.inner-header-custom #snav {
	padding: 0 35px;
}
.mains h2.fsd {
	font-size: 20px;
}
#mwrapbg .page_cont iframe {
	height: auto;
}
.tright a.btn-sm, .tleft a.btn-sm {
	width: auto;
}
.page-id-23 .why-fsd .col-md-4 .margin-top-50, .page-id-23 .why-fsd .col-md-4 .margin-top-50 span {
	font-size: 18px !important;
}
.woocommerce .doorbuilder .form-btn {
	padding: 1px 4px;
}
ul#weight li {
	border: none;
}
#get_modal {
	width: 85%;
}
.facilityPage .left iframe, .page-template-Contact-us .c-map iframe, .page-template-Contact-us .c-map object {
	height: auto !important;
}
#contactPopup .close {
	right: 10px;
}
#galslider1 .owl-prev {
	left: -36px;
}
.page-our-process #main-header h2 {
	font-size: 15px;
	padding-left: 6px;
}
td.actions .coupon .button {
	padding: 0 !important;
}
}

@media only screen and (max-width:320px) {
#crmWebToEntityForm .custom-input-group #imgid {
	width: 86%;
}
#header #header-main-menu #main-menu {
	width: 263px !important;
}
#header #menu-toggle {
	top: 30px;
}
#mwrap .cont_nav_inner {
	padding-left: 12px;
}
#fbulk .custom-int-grp input[type="submit"] {
	margin-top: 8px;
}
.mains h2.fsd, .col-main h4, .col-main h5 {
	font-size: 17px;
}
#galslider1 .owl-next {
	left: 253px;
}
.b4as span {
	right: 51px;
}
#designTips .dt-header h2 {
	font-size: 20px !important;
}
.page-template-design-tips #dtpw .prev, .page-template-design-tips #dtpw .next {
	top: 39px;
}
.page-template-design-tips #dtpager {
	padding-left: 22px;
}
.woocommerce .build-showerdoor h1 {
	font-size: 18px !important;
}
.woocommerce .build-showerdoor .product-descipt input {
	width: 66%;
}
#c-header h2 {
	font-size: 16px;
}
#contactPopup form {
	width: 92% !important;
}
.testimonials_form_container .col-md-6 {
	padding-left: 17px;
	padding-right: 17px;
}
.testimonials_form_container .col-md-6.left_shadow {
	padding-right: 15px;
	padding-left: 15px;
}
}
