@font-face {
  font-family: 'Piedra';
  font-style: normal;
  font-weight: 400;
  src: local('Piedra Regular'), local('Piedra-Regular'), url(https://fonts.gstatic.com/s/piedra/v5/BGy-F2g851ncT20ojcZtzA.ttf) format('truetype');
}
