wp-config.php
wp-content/uploads/*
uploads
Email
email
robots.txt

.DS_Store

nbproject
._*
.vagrant
.~lock.*
.buildpath
.idea
.project
.settings
vendor
composer.phar
materials/
*.psd
*.mp4
*.ogg
*.m4v
*.zip
RSA
RSAPrivate.ppk