wp-config.php
wp-content/uploads/*
uploads
robots.txt
/.htaccess
nbproject
._*
.vagrant
.~lock.*
.buildpath
.idea
.project
.settings
vendor
composer.phar
*.psd
*.mp4
*.ogg
*.m4v
*.zip
RSA
RSAPrivate.ppk

