#snav ul li a:hover {
    text-decoration: none;
}
#snav h3.widget-title {
    height: auto !important;
}
#snav ul li a {
    width: 98% !important;
}
.main50 {
	width: 100%!important;
}
.main50 a:hover {
	color: #fff;
	text-decoration: none;
}
.main50 .fullSection h2{
	margin-top: 0;
}
a:hover, a:focus {
	text-decoration: none;
}
.expand{
	height: auto;
}
.entry-title > a, .entry-title {
    font-family: "pxbold";
    font-size: 32px;
    font-weight: 500;
}
#snav #sidebar_1 .sideCo a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: auto;
    list-style: outside none none;
    padding: 0;  
}
#snav #sidebar_1 .sideCo li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    height: auto;
}
#snav #sidebar_1 li {
    background: none;
    height: auto;
}
#snav .sideCo {
    padding-top: 25px;
}
.faq-q {
    background: rgba(0, 0, 0, 0) url("../images/faq-question.png") no-repeat scroll 0 0 !important;
}
.faq-a {
    background: rgba(0, 0, 0, 0) url("../images/faq-answer.png") no-repeat scroll 0 0 !important;    
}
#diy-home-text {    
    width: 228px!important;
}
.entry-content > p {
    font-size: 14px!important;
    margin-bottom: 25px!important;
}
.sf_subscrbe {
    margin-top: -5px;
}
#designTips h2 {
    top: 0;
}
#dtpager a {
    margin-left: 5px;
}
.owl-prev {
    background: rgba(0, 0, 0, 0) url("../images/nav-arrows.png") no-repeat scroll 0 0!important;
    cursor: pointer;
    display: block;
    height: 58px;
    overflow: hidden;
    opacity: 1 !important;
    text-indent: -999px;
    width: 32px;
}
.owl-next {
    background: rgba(0, 0, 0, 0) url("../images/nav-arrows.png") no-repeat scroll 0 0!important;
    cursor: pointer;
    display: block;
    height: 58px;
    overflow: hidden;
    opacity: 1 !important;
    text-indent: -999px;
    width: 32px;
}
.b4afterWrap h2 {
    margin-top: 0;
    left: 25px !important;
}
#main-menu li:last-child a {
  border : none!important;
} 
.owl-controls.clickable {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
}
.owl-buttons {
    position: absolute;
}
.owl-buttons {
    position: absolute;
}
.owl-theme .owl-controls {
    top: 30%!important;
}
.page-template-before-after .owl-next {
    left: 865px;
    position: absolute;   
}
.b4afterWrap,
.main {
    width: auto !important;
}
#galslider1 .b4as {
    overflow: visible;
}
/*.owl-item .item .b4as a {
    width: auto;
}*/
#galslider1 .owl-prev {
    left: -84px;
    position: absolute; 
}
#galslider1 .owl-next {
    left: 867px;
    position: absolute;
}
.page-template-before-after .b4afterWrap {
    padding: 12px 30px;
}
.page-template-before-after .owl-prev {
    position: absolute;
    left: -86px;
}