
#main-menu li:hover > ul.sub-menu {
	display: block;
}

.store .custom_menu {
	margin-top: 0px;
}

.store .slogan{color:#ffffff; margin-top:15px;}

#main-menu li:hover > ul.sub-menu {
	display: block;
}
#menu-toggle {
	color: #fff;
	display: none;
	text-align: right;
	text-decoration: none;
}
.store #main-menu {
	background: none;
	float: left;
	width: 100%;
}
@media only screen and (max-width:500px) {
	.store #main-menu {
	background: none repeat scroll 0 0 #157c81;
	float: left;
	width: 100%;
}
}

#main-menu a {
	text-decoration: none;
}
#main-menu > li {
	display: inline-block;
	padding: 0;
	float: left;
}
#main-menu > li.current-menu-item > a, #main-menu > li > a:hover {
	color: #fff;
}
#main-menu > li > a {
	border-right: 1px solid rgba(255, 255, 255, 0.19);
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 8px 12px;
	text-transform: uppercase;
}
#main-menu  .menu-item-176 {

   border-right: none;

    color: #fff;
	background: #31c025;

}


#main-menu  .menu-item-176  a{

   border-right: none;
font-weight:bold;
    color: #fff;
	background: #31c025;

}



#main-menu li {
	position: relative;
	list-style:none
}
ul.sub-menu {
	display: none;
	left: 0;
	position: absolute;
	width: 215px;
	z-index: 9999;
}
ul.sub-menu ul.sub-menu {
	padding-top: 0;
	left: 149px;
	top: 0px;
}
ul.sub-menu > li > a {
	background-color: rgba(0, 70, 77, 0.85);
	display: block;
	color: #fff;
	font-size: 15px;
	font-weight: 100;
	padding: 14px 26px;
	text-align: left;
}
ul.sub-menu > li > a:hover {
	background-color: rgba(0, 70, 77, 0.75);
	color: #fff;
}
#main-menu li:hover > ul.sub-menu {
	display: block;
}


.social_icons {
	text-align: right;
	margin-top: 25px;
}
.social_icons > li {
	display: inline-block;
	font-size: 22px;
	margin-left: 4px;
}
.social_icons > li a {
	color: #fff;
}


/* Sidebar ======================================================================================= */
.store .store #snav {
	float: right;
	width: 334px;
	background: #edfeff;
	padding-bottom: 36px;
}
.store #snav h3 {
	background: url(../images/snav-top.png) bottom left repeat-x;
	height: 36px;
	padding: 16px 0 14px 24px;
	font-weight: normal;
	font-family: 'pxbold';
	font-size: 16px;
	color: #035d62;
	margin: 0
}
.store #snav ul li {
	display: block;
	height: 50px;
	background: url(../images/snav-bg.png) 0 -50px;
}
.store #snav ul li:hover {
	background: url(../images/snav-bg.png) 0 -150px;
}
.store #snav ul li:active, .store #snav ul li.active {
	background: url(../images/snav-bg.png) 0 0;
}
.store #snav ul li a {
	width: 303px;
	padding: 16px 24px;
	height: 50px;
	display: block;
	font-size: 14px;
	height: 16px;
	line-height: 16px;
	color: #035d62;
	background: url(../images/snav-arrows.png) top right no-repeat;
}
.store #snav ul li.current_page_item a {
	background: url(../images/snav-arrows.png) bottom right no-repeat;
	color: #fff
}
.store #snav ul li.active a {
	background: url(../images/snav-arrows.png) bottom right no-repeat;
	color: #fff;
	font-weight: normal;
	font-family: 'pxbold';
}
.temp-side {
	padding: 48px 0 0 24px;
}

/* Store Layout ======================================================================================= */
.store #item-list {
	overflow:auto;
	padding-top: 0px;
	margin-top:30px;
	position: relative;
	width: 100%;
	padding: 0px 0px
}
.store #item-list ul {/*height:250px; */
	padding-left: 0 !important
}
.store #item-list ul.even {
	padding-bottom: 72px;
}
.cms-terms-conditions .wrapper .page .col1-layout .col-main {
	padding: 40px !important;
	width: 900px !important
}
.store #item-list li {
	display: block;
	float: left;
	height: auto;
	padding: 0 12px 36px 0;
	position: relative;
	text-align: center;
	background: none;
	margin-bottom: 36px;
	width: 30%;
}
.store #item-list li a {
	display: block;
	position: relative;
	z-index: 3;
	width: 280px;
}
.store #item-list strong, .product-name a {
	display: block;
	text-align: center;
	font-weight: normal;
	color: #17898f;
	font-size: 16px;
	padding-bottom: 8px;
	height: 42px
}
.store #item-list span {
    display: block;
    text-align: center;
    font-family: 'arial';
    color: #fff;
    font-size: 14px;
    background: #20777b !important;
    width: 65%;
    margin: auto;
    padding: 8px;
    text-shadow: none;}
	
	.store #item-list span
	
	{
		box-shadow:none!important;}
	
	.store #item-list a:hover span {
	background: #000000;
	border-top: 1px solid #6de5ea;
}
.store #item-list i {
	background: url(../images/cat-hover.png);
	width: 172px;
	height: 271px;
	display: block;
	display: none !important;
	position: absolute;
	top: -31px;
	left: 4px;
	z-index: 1
}
.store #item-list img, .category-products li img {
	width: auto !important;
	margin-bottom: 12px;
}
.product-name a {
	font-family: 'pxbold';
	font-size: 12px;
}
/* breadcrumbs Layout ======================================================================================= */
.breadcrumbs {
	background: url(../images/bc-bg.png);
	height: 30px;
	border-top: 1px solid #88a7bf;
	padding: 6px 0 0 24px;
	margin-bottom: 0 !important
}
.breadcrumbs li {
	display: block;
	float: left;
	color: #bad9e5;
	font-size: 12px;
	font-family: 'pxbold';
	font-weight: normal !important;
	text-shadow: 0 -1px 0 #324d58
}
.breadcrumbs li a {
	display: block;
	float: left;
	color: #bad9e5;
	font-size: 12px;
	font-family: 'pxbold';
	font-weight: normal !important
}
.breadcrumbs li a:hover {
	color: #fff
}
.breadcrumbs li span.skt-breadcrumbs-separator {
	padding: 0;
}
.breadcrumbs li span {
	color: #fff !important;
}
.store #shopping-cart-table img {
	width: auto !important;
	height: auto !important;
	margin: auto !important;
	max-width: 72px !important;
	max-height: 72px !important;
}
.store #shopping-cart-table td {
	text-align: center;
}
.store .category-products {
	padding: 40px 0 0 40px !important
}
.store .category-products li {
	display: block;
	float: left;
	height: auto;
	padding: 0 12px 36px 0 !important;
	position: relative;
	text-align: center;
	background: url(../images/store-row-divider.png) center bottom no-repeat;
	margin-bottom: 36px;
}
.store .category-products li a {
	display: block;
	position: relative;
	text-align: center;
	margin: auto
}
.store .category-products .add-to-links {
	display: none;
}
.products-grid button {
	width: 130px !important
}
.store .products-grid h2 {
	padding: 0 !important;
	height: 50px !important;
}
.store .checkout-cart-index .wrapper .page .col1-layout .col-main {
	padding: 40px !important;
	width: 920px !important;
}


.store .even li a img {
	height: 150px;
	width: 150px;
}
.store .product-image > img {
	height: 150px !important;
}
.store .product-name a {
	font-size: 11px !important;
}
.store #main input {
	font-size: 13px !important
}
.store .single_add_to_cart_button {
	margin: 1px 0 0 0 !important;
}
.store .cart_item {
	line-height: 13px;
}
.store #coupon_code {
	height: 37px !important;
	padding: 0 0 0 13px;
	margin: 1px 0 0 0 !important;
}
.store #customer_details input {
	height: 40px !important;
}
.store .select2-container .select2-choice > .select2-chosen {
	height: 40px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	font-family: "ProximaNova-Thin", sans-serif;
	border: medium none;
}
.store .checkout-button.button.alt.wc-forward {
	padding: 11px 0 0;
	height: 40px !important;
}
.store .coupon .button {
	height: 39px !important;
}
.store .actions .button {
	height: 39px !important;
}
/*tbody tr .product-name {
    padding: 27px 0 0 !important;
}*/

.store .button {
	padding: 12px 29px !important;
}
.store .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
	float: right !important;
}
.store #coupon_code {
	height: 37px !important;
	padding: 0 0 0 13px;
	width: 189px;
}
.store .actions {
	padding: 15px 0px !important;
}
.store .col-main p {
	margin-bottom: 10px !important;
}
#payeezy-save-card {
	height: 2px !important;
	width: 2% !important;
}
.store .input-text {
	padding: 0 0 0 10px !important;
}
.store #customer_details textarea {
	border: medium none !important;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) !important;
	font-family: "ProximaNova-Thin", sans-serif !important;
	font-size: 13px !important;
}
.store #product-options-wrapper .required select {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) !important;
	font-family: "ProximaNova-Thin", sans-serif !important;
	font-size: 13px !important;
	height: 39px !important;
}
.store #main input[type="email"] {
	width: 195px !important;
	color: #1f8f96 !important;
}
.store .wpcf7-form-control.wpcf7-textarea.form-control.col-md-12 {
	height: 30px !important;
	padding: 5px 0 0 6px !important;
}
.store #main input[type="submit"] {
	margin: 0 0 0 0 !important;
}
.store #order_review table tbody td {
	line-height: 21px !important;
	padding: 11px 18px !important;
}
.store #order_review thead th {
	padding: 11px 18px !important;
}
.store input[type="number"] {
	height: 22px !important;
}

.store .form-row.form-row-first #coupon_code {
	width: 100% !important;
}
.store .checkout-button.button.alt.wc-forward {
	background: rgba(0, 0, 0, 0) linear-gradient(#35c0c3, #269ea3) repeat scroll 0 0 !important;
	border-radius: 4px 4px 4px 4px !important;
	color: white !important;
	cursor: pointer;
	letter-spacing: 0.1em;
	padding: 0 1em;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.store .product-options dd select {
	width: 99% !important;
}
.store .required-entry.super-attribute-select {
	height: 12% !important;
	margin: 0;
	width: 99%;
}
.store .required {
	margin-left: -12px !important;
	font-size: 14px !important;
	text-transform: capitalize;
	padding: 6px 0 0 9px !important;
}
.store .product_option {
	margin: 0 0 10px 0 !important;
}
.store .woocommerce div.product div.images img {
	width: 57% !important;
}
.store .required-entry.super-attribute-select {
	background: #fff none repeat scroll 0 0 !important;
	border: 1px solid #b6b6b6 !important;
	box-shadow: none !important;
}
.store .inner-header-custom button.single_add_to_cart_button {
	right: -2px !important;
}
.store .shop_table.shop_table_responsive.cart tbody tr .actions {
	padding: 14px 15px !important;
}
.store .store #snav ul li a {
	height: 50px !important;
}
.store .single-product .product-options label {
	font-family: "pxbold" !important;
}
.store .single-product .product-options label {
	color: #2f2f2f;
	font-weight: normal;
}
.store .single-product .product-options select {
	width: 99%;
}
.store .single-product .inner-header-custom .more-views li a {
	border: 2px solid #ddd;
	float: left;
	height: 56px;
	overflow: hidden;
	width: 56px;
	position: relative;
}
.store .single-product .inner-header-custom .more-views li a.fancyimg > img {
	bottom: 0;
	margin: auto;
	position: absolute;
	top: 0;
}
.store .single-product .inner-header-custom .more-views li a {
	border-color: #bfeff3;
}
.store .price-box {
	width: 16% !important;
}
.store .b4afterWrap {
	padding: 80px 0 0 28px !important;
}
.store .tax-product_cat .inner-header-custom .price-box {
	margin: 0 auto;
	width: auto !important;
}
.store .twoColbg h3 {
	font-size: 16px !important;
	padding: 12px 24px !important;
	text-align: left;
}
.store .page-wholesale .twoColbg h3 {
	font-size: 30px !important;
}
.store .page-wholesale .twoColbg .store #snav h3 {
	font-size: 16px !important;
}
.store #coupon_code {
	width: 51.4% !important;
}
.store .single-product .inner-header-custom .cart {
	bottom: -15px !important;
}
.store .store #search-form input.store #searchbox {
	padding: 14px 0 0 17px !important;
	top: 41px !important;
}
.store .variation .wdm_options_table tr td {
	border: medium none !important;
}
.store .woocommerce a.button.alt {
	background: #63c4c7 url("images/btn_sm_bg.png") repeat-x scroll center bottom !important;
	border-radius: 7px !important;
	border-top: 1px solid #6de5ea !important;
	box-shadow: 0 1px 2px #666 !important;
	color: #fff !important;
	display: block !important;
	font-family: "pxbold" !important;
	font-size: 16px !important;
	margin: 7px 0 0 9px;
	padding: 8px !important;
	text-align: center !important;
	text-shadow: 0 -1px 0 #17898f !important;
	top: 0 !important;
}