/*Bundled product*/
.detailed-product {
    background: #0085ba none repeat scroll 0 0;
    border-color: #0073aa #006799 #006799;
    border-radius: 22%;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    display: inline-block;
    line-height: normal;
    margin-right: 8px;
    padding: 0 1px 0 0;
    text-align: center;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    width: 12px;
}

.product_discount .product_discount_options {
    padding: 5px 20px;
}

.product_discount_options p {
    display: inline-block;
    width: 30%;
}
.product_discount_options input, .product_discount_options textarea,
#global_discount input, #global_discount textarea {
    display: block;
}
.product_discount a {
    background: #fff none repeat scroll 0 0;
    color: #000;
    font-size: 14px;
    padding: 2px 9px;
    text-decoration: none;
}
.product_discount_options label {
    color: #000;
    font-size: 14px;
    padding-bottom: 12px;
    padding-left: 2px;
}
.check_option > input {
    display: inline-block;
}
#acf-combo_handle_size, #acf-combo_style, #acf-combo_towelbar_size{
    display: none;
}